<div id="<%= dom_id receipe %>" class="receipe-card">
  <%= image_tag("data:#{receipe.image_type};base64, #{Base64.encode64(receipe.illustration.to_s)}", alt: 'illustration', class: 'rounded-t-lg h-48 w-full object-cover') %>
  <div class="p-5">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      <%= receipe.title %>
    </h5>

    <span class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">
      @<%= receipe.user.username %>
    </span>

    <p class="my-3 font-normal text-gray-200 dark:text-gray-200">
      <%= receipe.description %>
    </p>

    <p class="text-xs">
      <strong>Portions number:</strong>
      <%= receipe.portions_number %>
    </p>
  </div>
</div>